div{
    justify-content: center;
    align-items: center;
    flex: auto;
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(228, 217, 217);
    font-size: 450%;
    border-radius: 1px ;
    color: black;
}
.box:hover:not(:disabled){
    width: 100px;
    height: 100px;
    background-color: rgb(228, 217, 217);
    font-size: 450%;
    border-radius: 1px ;
    color:rgb(153, 138, 138);
}

